{% extends "inicio/index.html" %}
{% load static %}
{% block main %}
{% block title_head %}
   <title>Primer Template</title>
{% endblock title_head %}
{% block h1_header %}
<h1>Soy el primer template</h1>
{% endblock h1_header %}

    <h1>
        Pepe corre solo por la pradera
    </h1>
    <h2>{{fecha_actual}}</h2>
    <p>listado</p>
    <ul>
        {% for num in numeros %}
        {% if num > 5 %}
        <li>{{num}}</li>
        {% elif num == 5 %}
        <li>Soy el mejor numero... El 5</li> 
        {% else %}
        <li>Soy menor a 5</li> 
        {% endif %}
        {% endfor %}
    </ul>
<img src={%static "assets/img/testimonials-3.jpg"%} alt="">
{% endblock main %}